/* Variables */
$small: "(max-width: 416px)";
$medium: "(min-width: 417px)";
$large: "(min-width: 800px)";

/* Mixins */
@mixin mediaQueries($arg) {
  @media screen and #{$arg} {
    @content;
  }
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: rgba(86, 232, 240, 0.35);
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

/* Modal */
.modal-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  width: 100%;
}

.modal-btn {
  background-color: transparent;
  border: none;
  opacity: 0.85;
}

.material-icons.md-14 {
  font-size: 20px;
}

.modal-about {
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
  padding: .5em;
  top: 15%;
  width: 80%;
}

.modal-cancel {
  background-color: transparent;
  border: none;
  float: right;
}

.material-icons.sm-12 {
  font-size: 20px;
}

.modal-title {
  color: royalblue;
  font-size: 1.1em;
  padding: .5em;
  text-decoration: underline;
}

.user-stories {
  font-style: italic;
  padding: .5em 2em .5em 2.5em;
}

.story:nth-of-type(2) {
  margin-top: 1em;
}

.modal-text {
  margin: .5em;
}

.link {
  color: royalblue;
  font-weight: 600;
  text-decoration: none;
}

.modal-about::backdrop {
  background: darkgray;
  opacity: .85;
}

/* Main Content*/
.title {
  font-size: 2.2em;
  font-weight: 300;
  margin: 1em 0;
}

.quote {
  display: inline-block;
  font-style: italic;
  margin-bottom: 1em;
  width: 87.5%;
}

.artist {
  font-weight: 600;
  margin-bottom: 1em;
}

.quote-button {
  background-color: #007bff;
  border: 1px solid transparent;
  border-color: #007bff;
  border-radius: .3rem;
  color: #fff;
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1em;
  padding: .5rem 1rem;
}

.fa {
  color: #007bff;
}

.social:hover {
     transform: scale(1.1);
 }

.footer {
  bottom: 0px;
  height: 30px;
  left: 0px;
  margin-bottom: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer-link {
  color: #007bff;
  text-decoration: none;
}
